[Unit]
Description=Workshop Setup Socket Server
Documentation=
After=network.target

[Service]
# The user that the service will run as
User=root

# The command to start the service
ExecStart=/usr/local/sbin/workshop-start.sh

# Restart the service if it ever fails
Restart=always
RestartSec=3

# Standard output and error will be redirected to the systemd journal
StandardOutput=journal
StandardError=journal

# Type of the service
Type=simple

[Install]
WantedBy=multi-user.target
